# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# macOS
.DS_Store

# jetbrain
.idea

# node.js
#
node_modules/
npm-debug.*

# my local
myLocal/

# Bundle artifact
*.jsbundle

#JEST
.jest/cache/*
coverage/*
tests/app-release.apk
tests/automation.log
.history
tests/**/*.png

#STORYBOOK
build-storybook.log

#VIM
*.swp

#CYPRESS
cypress/videos
cypress/screenshots

#OTHER
.DS_Store
dist
dist-ssr
*.local
yarn-error.log
coverage
settings.json
ponicode.config.json

storybook-static

.storybook/main.js
.vscode
inmogr-api-node
inmogr-api-react
inmogr-api-react-auth
inmogr-api-react-awaneek
inmogr-api-react-public
scripts
testing
types

zsecrete

.env.development
.env.jest.js
.env.production
.eslintrc.js
.firebaserc
.gitignore
.prettierignore
.prettierrc.json
.fierbase.json
index.html
package.json
tsconfig.json
vite.config.ts