# macOS
.DS_Store

# husky and github
.husky
.github

# jetbrain
.idea

# node.js
#
node_modules/
npm-debug.*

# Bundle artifact
*.jsbundle

#JEST
.jest/cache/*
coverage/*
tests/app-release.apk
tests/automation.log
.history
tests/**/*.png

#STORYBOOK
build-storybook.log

#VIM
*.swp

#CYPRESS
cypress/videos
cypress/screenshots

#OTHER
.DS_Store
dist
dist-ssr
*.local
yarn-error.log
coverage
settings.json
ponicode.config.json

storybook-static